[submodule "libs/frames"]
	path = libs/frames
	url = git@github.com:zorbathut/frames.git
[submodule "libs/logal"]
	path = libs/logal
	url = git@github.com:zorbathut/logal.git
[submodule "libs/opengal32"]
	path = libs/opengal32
	url = git@github.com:zorbathut/opengal32.git
